absl-py==0.4.0
astor==0.7.1
decorator==4.3.0
gast==0.2.0
grpcio==1.14.1
imageio==2.3.0
Markdown==2.6.11
moviepy==0.2.3.5
numpy==1.14.5
opencv-python==3.4.2.17
Pillow==5.2.0
protobuf==3.6.1
scipy==1.1.0
six==1.11.0
tensorboard==1.10.0
tensorflow==1.10.0
termcolor==1.1.0
tqdm==4.24.0
Werkzeug==0.14.1
